* {
    /* font-weight:   */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Sofia Pro";
    /* font-family: "Montserrat", sans-serif; */
}

a {
    text-decoration: none;
    list-style-type: none;
}

body {
    
}

ul li{
    display: flex;
    flex-direction: row;
}

header {
    position: fixed;
    background: white;
    width: 100%;
    z-index: 10000;
}

.base-font {
    font-size: 18px;
}

form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 90px;
}

form > div {
        width: 48%;
    }

/* padding: 20px; */

form > div.message {
            width: 100%;
        }

form input,form textarea {
         width: 100%;
     }

label {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 65px;
    letter-spacing: -0.05em;
    
    color: #303450;    
}

input,textarea {
    border: 1px solid #67788A;
    box-sizing: border-box;
    border-radius: 10px; 
    font-size: 26px; 
    outline: none; 
    padding: 30px; 
    background: none;
    resize: none;
}

textarea {
    resize: none;
}

@media only screen and (max-width:1024px){
    .no-break {
        display: none;
    }
}

@media only screen and (max-width:768px){
    form > div {
        width: 100%;
    }
}

@media only screen and (max-width:425px){
    input, textarea {
        padding: 16px;
    }
}

.row {
    width: 88%;
    margin: 0 auto;
}

.header{
   
   
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 70px 14px 0px;
    z-index: 10000;
   
}

.header-logo {
        width: 8%;
    }

.header-logo img {
            width: 100%;
        }

.header-menu {
        width: 66%;
    
    }

.header-toggle{
        background: transparent;
        height: 25px; 
        width: 30px;
        position: relative;
        cursor: pointer;
        z-index: 100;

       
    }

.header-toggle--close .header-icon{
            width: 0%;
        }

.header-toggle--close .header-icon::after{
                width: 100%;
                transform: rotate(-45deg);
                top: 10px;
            }

.header-toggle--close .header-icon::before{
                width: 100%;
                transform: rotate(45deg);
                top: 10px;
            }

.header-list {
        display: flex;
        justify-content:space-between;
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 40px;
    }

/* identical to box height, or 160% */

.header-list > li a {
            color: #363F44; 
        }

.header-list > li.btn a {
            color: #ffffff; 
            background:#FF3300;
            padding: 0px 20px;
            border-radius: 40px;            
        }

.header-list > li.btn a:hover {
            background: #ffffff; 
            border: 1px solid #FF3300;
        }

.header-list > li a:hover {
            color: #FF3300;
        }

.header-toggle {
        background: transparent;
        height: 25px;
        width: 30px;
        position: relative;
        cursor: pointer;        
    }

.header-icon {
        width: 100%;
        height: 2.7px;
        background: black;
        border-radius: 150px;
        margin-top: 9px;
        transition: all .5s;        
    }

.header-toggle {
        display: none;
    }

.header-icon::before {
        content: "";
        width: 100%;
        height: 2.7px;
        display: block;
        border-radius: 150px;
        transform-origin: center;
        background: black;
        position: absolute;
        top: 9px;
        transition: all .5s;        
    }

.header-icon::after {
        content: "";
        width: 70%;
        height: 2.7px;
        display: block;
        border-radius: 150px;
        background: black;
        position: absolute;
        bottom: 4px;
        right: 0;
        transition: all .5s;        
    }

@media only screen and (max-width:1100px) {
    .header-menu {
        width: 78%;
    }
}

@media only screen and (max-width:870px) {
    .header {
        padding-right: 15px;
    }
    .header-menu {
        width: 84%;
    }
}

@media only screen and (max-width:760px) {
    .header{
        padding-right: 45px;
    }
    .header-list {
        display: none;
    }
    .header-toggle {
        display: block;
    }
    .header-menu {
        width: 0;
    }
}

.btn--link {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 30px;
        /* identical to box height, or 167% */
        
        letter-spacing: -0.02em;
        
        color: #FF3300; 
        position: absolute;
        /* top: 2px; */
        bottom: 10px;
        WIDTH: 62%;
        right: 18px;               
    }

.btn-submit {
    background: #FF3300;
    border-radius: 40px;  
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    padding: 10px 30px;
    letter-spacing: -0.05em;
    
    color: #FFFFFF; 
    position: absolute;
    bottom: 0px;
    right: 0;        
   }

.btn-download {
    background: #FF3300;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 40px;
    padding: 24px 40px;
    /* identical to box height, or 114% */
    border-radius: 35px;
    
    color: #FFFFFF;    
   }

.intro {
    background: #F6F5FF;
    padding: 120px 0px 0px 8%;

}

.intro-container {
        display: flex;
        align-items:center;
    }

.intro-text {
        width: 46%;
    }

.intro-img {
        width: 54%;
        position: relative;
        text-align: center;
        overflow: hidden;

    }

.intro-img img {
            width: 80%;
            transform:translateY(80px)
            
        }

.intro-img-bg {
            position: absolute;
            bottom: 0%;
        }

.intro-img-bg img {
                width: 100%;
                transform:translateY(0px)
            
            }

.intro h5 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 64px;
        color: #363F44;         
     }

.intro h1 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 104px;
        line-height: 100px;
        /* or 100% */
        
        
        color: #303450;        
    }

.intro p {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height:60px;      
        color: #303450;        
    }

.intro h4 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height:30px;
        text-transform: uppercase;
        width: 92%;
        color: #F33838;        
    }

@media only screen and (max-width:1120px) {
    .intro h1 {
        font-size: 79px;
        line-height: 74px;
        
    }
    .intro h5 {
        font-size: 32px;
    }

    .intro p {
        font-size: 13px;
        line-height: 55px;
        
    }
}

@media only screen and (max-width:768px) {
    .intro-text {
        width: 86%;
        order: 1;
        
    }
    .intro {
        padding-top: 76px;
        padding-bottom: 30px;
    }
    .intro-container {
        flex-direction: column;
        
    }
}

@media only screen and (max-width:512px) {
  
    .intro-text {
        width: 100%;
      
        
    }
    .intro p{
        font-size: 13px;
        line-height: 20px;
        padding: 10px 0px;
    }
    .intro h1 {
        font-size: 72px;
        line-height: 68px;
        
    }
    .intro h5 {
        font-size: 27px;
    }
    .intro h4 {
     
        font-size: 15px;
        line-height: 20px;
        
    }
}

@media only screen and (max-width:425px) {
    .intro-text {
        width: 100%;
      
        
    }
    
    .intro p{
        font-size: 13px;
        line-height: 20px;
        padding: 10px 0px;
    }
    .intro h1 {
        font-size: 62px;
        line-height: 60px;
        
    }
    .intro h5 {
        font-size: 25px;
    }
}

@media only screen and (max-width:375px) {
    .intro-text {
        width: 100%;
      
        
    }
    .intro h1 {
        font-size: 53px;
        line-height: 50px;
    }
    .intro p{
        font-size: 13px;
        line-height: 20px;
        padding: 10px 0px;
    }
    .intro h5 {
        font-size: 25px;
    }
}

.about {
    padding-bottom: 50px;
   
}

.about h5 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 50px;
        color: #303450;
        
    }

.about p {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 40px;
        color: #FF3300;
    }

.about-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

.about-summary {
        width: 38%;
    }

.about-story{
        width: 52%;
    }

.about-story p {
            font-family: Work Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            color: #303450;            
        }

.about-story > div {
            padding-bottom: 30px;
        }

.about-btn {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 35px;
        color: #363F44;
    }

.about-btn::after {
            content: url(../../../assets/images/arrow.png);
            vertical-align: text-bottom;
            display: inline-block;
            transform: scale(0.7);
            padding-left: 16px;            
        }

.about-btn:hover {
            color: #FF3300;
        }

@media only screen and (max-width:768px){
    .about-container {
        flex-direction: column;
    }
    .about-summary {
        width: 96%;
    }
    .about-summary > div p {
        font-size: 20px;
        line-height: 32px;
    }
    .about-story {
        width: 80%;
        padding: 20px 0px;
    }
}

@media only screen and (max-width:512px){
    .about p {
        font-size: 15px;
    }
}

@media only screen and (max-width:425px){
    .about-story p {
        font-size: 14px;
    }
}

.edu {
    background: #F6F5FF;

}

.edu-container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

.edu-story {
        width: 46%;
        padding:100px 20px 50px 0px;
        
    }

.edu-img {
        width: 48%;
        position: relative;
        text-align: center;


    }

/* overflow: hidden; */

.edu-img-story {
            width: 40%;
        }

.edu-img img {
            width: 100%;
            /* transform:translateY(80px) */
            
        }

.edu-img-bg {
            position: absolute;
            bottom: 0;
            width: 95%;
        }

.edu-img-bg img {
                width: 100%;
                /* transform:translateY(0px) */
            
            }

.edu-wrapper {
        padding: 10px 0px;
    }

.edu-tabs {
        padding-bottom:10px;
    }

.edu-tabs a {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 40px;
        color: #303450;  
            
        }

.edu-tabs ul {
            width: 80%;
            display: flex;
            justify-content: space-between;
        }

.edu-title {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        color: #212338;        
    }

.edu-school {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 40px;
        color: #212338;        
    }

.edu-course {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 40px;
        color: #212338;        
    }

.edu-year {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 50px;
        color: #FF3300;
             
    }

@media only screen and (max-width:768px) {
    .edu-container {
        flex-direction: column;
    }
    .edu-img {
        margin: 0 auto;
    }
    .edu-img img {
        transform: translateY(0px);
    }
    .edu-story {
        margin: 0 auto;
        padding-top: 20px;
        width: 84%;
    }
    .edu-tabs a {
        font-size: 18px;
    }
}

@media only screen and (max-width:512px) {
    .edu-tabs a {
        font-size: 16px;
    }
    .edu-title {
        font-size: 22px;
    }
    .edu-course {
        line-height: 28px;
    }
    .edu-tabs ul {
        width: 90%;
    }
}

@media only screen and (max-width:425px) {
    .edu-story {
        width: 93%;
    }
    .edu-tabs ul {
        width: 100%;
    }
    .edu-school {
        font-size: 17px;
    }
}

.recognition {
        padding: 26px 50px 115px;
    
}

.recognition h1 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 50px;
        color: #303450;        
    }

.recognition-goal {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 40px;
        color: #FF3300;        
    }

.recognition__container {
        display: flex;
        flex-wrap:wrap;
        justify-content:space-between;
        align-items:flex-start;
        padding-top: 40px;
    }

.recognition__card {
        width: 23%;
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        padding: 26px 20px 26px 28px;
        margin-bottom: 60px;
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 15px;  
        height: 226px;
    }

.recognition__card:hover {
            
            -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            
                    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
            perspective: 1000px;
              
        }

.recognition__logo {
        text-align: center;
        margin: 0 auto;
    }

.recognition__logo.forbes {
            width: 60%;

            
        }

.recognition__logo.bocconi {
            width: 46%;

           
        }

.recognition__logo.goldman{
            width: 36%;
        }

.recognition__logo.sla {
            width: 30%;
        }

.recognition__logo.vc4 {
            width: 45%;
        }

.recognition__logo.hybr {
            width: 45%;
        }

.recognition__logo.global {
            width: 45%;
        }

.recognition__logo.seyi {
            width: 60%;
        }

.recognition__logo img {
            width: 100%;
        }

.recognition__desc {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        padding: 20px 0px 4px 0px;
        
        color: #303450;        
    }

.recognition__btn {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 30px;
        /* identical to box height, or 167% */
        text-align: right;
        letter-spacing: -0.02em;
        
        color: #FF3300;        
    }

.recognition__circle{
        position: absolute;
        top:3%;
        left: 0;
        z-index: -1;
        width: 80%;
    }

.recognition__circle img {
            width: 100%;
        }

.recognition__square{
        position: absolute;
        top:25%;
        right: 0;
        z-index: -1;
    }

.recognition__oval{
        position: absolute;
        width: 80%;
        bottom: 84px;
        z-index: -1;
        right: 6%;
    }

.recognition__oval img {
            width: 100%;
        }

.recognition__overlay {
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 0%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 11;
        opacity: 0;
    }

/* & > a {
            opacity: 0;
        } */

.recognition__overlay--show {
            transition: height 0.4s ease-out;
            height:100%;
            opacity: 1;
        }

.recognition__close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

.recognition__close:before {
            content: '';
            width:30px;
            height:3px;
            background:white;
            display:block;
            position:absolute;
            top:0px;
            right:0px;
            transform: rotate(45deg);
            transform-origin:


        }

.recognition__close:after {
            content: '';
            width:30px;
            height:3px;
            background:white;
            display:block;
            /* position: absolute; */
            /* top: -60px; */
            position:absolute;
            top:0px;
            right:0px;
            transform: rotate(-45deg);
            transform-origin: center;

        }

@media only screen and (max-width:1230px){
    .recognition__card {
        width: 31%;
    }
}

@media only screen and (max-width:968px) {
    .recognition__card {
        width: 46%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:768px) {
    .recognition__desc  {
        font-size: 12px;
    }
    .recognition {
        padding: 26px 10px 115px;
    }
}

@media only screen and (max-width:512px) {
    .recognition__card  {
        width: 48%;
        padding: 26px 10px 26px 10px;
    }
    .recognition {
        padding: 26px 0px 115px;
    }
    .recognition-goal {
        font-size: 25px;
        line-height: 31px;
    }
}

@media only screen and (max-width:425px) {
    .recognition__container {
        justify-content: center;
    }
    .recognition__card  {
        width: 78%;
        padding: 26px 20px 26px;
        height: auto;
    }
    .recognition__desc   {
        
        padding-bottom: 15px;
      
    }
    .recognition-goal {
        font-size: 22px;
    }
    
}

.contact {
    background: #F6F5FF;
    padding: 60px 5% 40px;
}

/* background: url(../../../assets/images/contact-bg.png); */

.contact-container {
        position: relative;
        padding-top:180px;
    }

.contact-info {
        position: absolute;
        top: -20%;
        width: 100%;
        background: linear-gradient(0deg, rgba(255, 51, 0, -7), rgba(255, 51, 0, -25)), url(../../../assets/images/contact-bg.png);;
        background-size:cover;
        border-radius: 10px;
        padding:40px;  
        text-align:center;
    }

/* background-size: contain; */

.contact-info > div {
            
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0px;
            
        }

.contact h1 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 70px;
        /* identical to box height, or 50% */
        
        letter-spacing: -0.05em;
        
        color: #FFFFFF;         
     }

.contact p {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 35px;
        color: #FFFFFF;
        margin: 0px 10px;         
     }

.contact p.sub {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 50px;
        /* identical to box height, or 140% */
        
        
        color: #FFFFFF;         
     }

.contact-socials {
        display: flex;
        justify-content:space-between;
    }

.contact-socials a {
            display: inline-block;
            background:white;
            width: 30px;
            height: 30px;
            border-radius:50%;
            padding:8px;
            text-align: center;
            margin:0px 20px;
        }

.contact-socials a.facebook {

            padding: 8px;
            }

.contact-socials a.facebook img {
                width:8px;
                /* padding:  10px; */
            }

.contact-socials a img {
                width: 14px;
            }

.contact .tel::before {
        content: url(../../../assets/images/tel.png);
        display:inline-block;
        transform: scale(0.7);
        vertical-align: middle;
    }

.contact .mail::before {
        content: url(../../../assets/images/mail.png);
        display:inline-block;
        transform: scale(0.7);
        vertical-align: middle;
        padding-right: 10px;
    }

@media only screen and (max-width:1024px) {
    .contact h1 {
        font-size: 36px;
        line-height: 33px;
        
    }
    .contact p {
        font-size: 16px;
    }
}

@media only screen and (max-width:768px) {
    
    .contact p.sub{
        font-size: 14px;
    }
    .contact h1 {
        font-size: 30px;
    }
    .contact-container {
        padding-top: 80px;
    }
}

@media only screen and (max-width:630px) {
    
    .contact h1 {
        font-size: 23px;
    } 
    .contact-info > div:nth-of-type(1) {
        flex-direction: column;
    }
    .contact p {
        line-height: 24px;
        font-size: 14px;
    }
    .contact-info {
        padding: 14px;
    }
}

@media only screen and (max-width:512px) {
    
    .contact p.sub {
        
        font-size: 12px;
        line-height: 18px;
        
    }
}

@media only screen and (max-width:425px) {
    
    .contact h1 {
        
        font-size: 16px;
        
        
    }
    .contact-socials a {
        margin: 0 10px;
    }
}

.testimonies {
    padding: 26px 50px 115px;




}

.testimonies h1 {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 50px;
    color: #303450;        
}

.testimonies-goal {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    color: #FF3300;        
}

.testimonies__container {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:flex-start;
    padding-top: 40px;
}

.testimonies__card {
    width: 32%;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    padding: 16px 25px;
    margin-bottom: 60px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 15px;
}

.testimonies__card:hover {
        
        -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        
                animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        perspective: 1000px;
          
    }

.testimonies__logo {
    text-align: center;
    margin: 0 auto;
    
    
    
    
}

.testimonies__desc {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    
    color: #303450;           
}

.testimonies__author {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.testimonies-info {
    padding-left: 20px;
}

.testimonies-name {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    /* or 158% */
    
    
    color: #303450;    
}

.testimonies-post {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */
    /* text-align: right; */
    letter-spacing: -0.02em;
    
    color: #FF3300;        
}

@media only screen and (max-width:1024px) {
    .testimonies__card{
        width: 47%;
    }
    .testimonies__desc {
        font-size: 13px;
    }
    .testimonies-name {
        font-size: 20px;
    }
}

@media only screen and (max-width:768px) {
    .testimonies {
        padding: 26px 50px 25px;
    }
    .testimonies__container {
        justify-content: center;
    }
    .testimonies__card{
        width: 80%;
        margin-bottom: 30px;
    }
    .testimonies__desc {
        font-size: 13px;
    }
    .testimonies-name {
        font-size: 20px;
    }
    .testimonies-goal {
        font-size: 30px;
    }
}

@media only screen and (max-width:512px) {
 
    .testimonies__card{
        width: 100%;
        
    }
    .testimonies-goal {
        font-size: 24px;
        line-height: 30px;
    }
    
}

@media only screen and (max-width:425px) {
 
    .testimonies {
        padding: 26px 0px 1px;
    }
    
}

.bio {

    background: #F6F5FF;

}

.bio-container {
        display: flex;
        align-items:center;
    }

.bio-info {
        padding: 100px 0px;
    }

.bio h1 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 70px;
        line-height: 60px;
        /* or 90% */
        
        
        color: #303450;        
    }

.bio p {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        /* or 133% */
        
        padding: 30px 0px 30px 0px;
        color: #303450;        
    }

.bio-bg {
        
        position: relative;
        background: #F6F5FF;
        z-index: 17;
       

          
    }

/* clip-path: inset(10% 10% 10% 10% round 0% 0% 0% 30%); */

.bio-bg > div {
            width:100%;
            padding-bottom: 0px;
            padding-left: 20px;


        }

.bio-bg img {
            width: 100%;
            transform: translateY(70px);
        }

.bio-rectangle {
        width: 100%;
        position: absolute;
        z-index: -1;
        bottom: -70px;
        height: 700px;
        /* background: white; */
        background: #FF3300;
        -webkit-clip-path: inset(10% 10% 10% 10% round 0% 0% 0% 30%);
                clip-path: inset(10% 10% 10% 10% round 0% 0% 0% 30%);
        transform: translateY(70px);

    }

@media only screen  and (max-width:1024px){
    .bio h1 {
        font-size: 46px;
    }
    .bio p {
        font-size: 20px;
    }
    .bio-rectangle {
        height: 630px;
    }
    .bio-bg img {
        width: 100%;
        transform: translateY(78px);
    }
}

@media only screen  and (max-width:768px){
    .bio-container {
        flex-direction: column;
    }
    .bio-info {
        padding: 10px 0px;
        z-index: 20;
        transform: translateY(30px);
    }
    .bio h1 {
        font-size: 38px;
    }
    .bio p {
        font-size: 18px;
    }
}

@media only screen  and (max-width:512px){
    .bio h1 {
        font-size: 30px;
    }
    .bio-info {
        padding: 10px 0px;
        z-index: 20;
        transform: translateY(30px);
    }
    .bio p {
        font-size: 16px;
    }
    .bio-rectangle {
        height:433px;
    }
    .bio-bg img {
        
        transform: translateY(97px);
    }
}

@media only screen  and (max-width:425px){
    .bio h1 {
        font-size: 23px;
        line-height: 0;
    }
    .bio-info {
        padding: 10px 0px;
        z-index: 20;
        transform: translateY(30px);
    }
    .bio p {
        font-size: 13px;
    }
    .bio-bg img {
        
        transform: translateY(65px);
    }
    .bio-rectangle {
        height: 300px;
        bottom: -24px;
    }
    .btn-download {
     
        font-size: 15px;
        line-height: 40px;
        padding: 16px 24px;
        
    }
}

.footer {
    background: #303450;
}

.footer-container {
        padding: 100px 40px 20px;
        width: 80%;
        display: flex;
        align-items:center;
        justify-content:space-between;
        flex-wrap:wrap;
        
    }

.footer-container>div {
            width: 30%;
        }

.footer h1 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        white-space: nowrap;
        /* identical to box height, or 114% */
        
        
        color: #FFFFFF;        
    }

.footer p {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        /* or 167% */
        padding-top:20px;
        
        color: #FFFFFF;

        
        
    }

.footer-socials {
        background:red;
        
    }

.footer ul {
        display: flex;
        /* align-items: flex-end; */
        justify-content: space-between;
    }

.footer img {
        width: 60%;
    }

.footer-trademark {
        text-align: center;
        padding: 10px 0px;
    }

@media only screen  and (max-width:1024px) {
    .footer-container {
        width: 96%;
    }
}

@media only screen  and (max-width:768px) {
    .footer h1 {
        font-size: 16px;
    }
    .footer p {
        font-size: 12px;
    }

    .footer-container {
        padding: 100px 0px 20px 40px;
    }
}

@media only screen  and (max-width:512px) {
    .footer h1 {
        font-size: 16px;
    }
    .footer p {
        font-size: 12px;
    }

    .footer-container {
        padding: 100px 0px 0px 40px;
    }
    .footer-container>div {
        width: 47%;
    }
    .footer img {
        width: 45%;
    }
    .socials {
        margin:0 auto;
        padding-top: 20px;
    }
}

@media only screen  and (max-width:512px) {
    .footer p.footer-trademark {
        font-size: 10px;
    }
    .footer-container {
        padding: 100px 0px 0px 0px;
        margin: 0 auto;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 38px;
    left: 0;
    width: 100%;
    margin: 0 7px;
}

.swiper-pagination-bullet {
    width: 41px;
    height: 4px;
    display: inline-block;
    border-radius: 8px;
    background: #FF4C2F;;
}

.mobile-nav{

    width: 28%;
    height: 0vh;
    position: fixed;
    background: transpent;
    z-index: 77;
    overflow: auto;
    top: 0%;
    left: 0;
    padding: 36px 0px;
    transition: all ease-in-out .3s;
    
}

.mobile-nav-menu a:link, .mobile-nav-menu a:visited{
            color: #fff;
            font-size: 1.8rem;
            font-family:work sans;
            font-weight: 500;
            text-decoration: none;
            line-height: normal;
    
            
        }

.mobile-nav__container .mobile-nav--resp{
        height: 0;
        overflow: hidden;
        transition: all .3s;
    }

.mobile-nav-logo img{
        width: 0%;
        margin:0 auto;
        
    }

.mobile-nav__title--small:link.mobile__list-dot:before {
        content: '';
        vertical-align: middle;
        margin-right: 15px;
        background-size: cover;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: red;
    }

.mobile-nav__title--small:link, .mobile-nav__title--small:visited{
        font-size: 1.2rem;
        font-weight: 400;
        margin-left: 30px;
        display: inline-flex;
        align-items: center;
        
    }

.mobile-nav__title--small:link .mobile-nav__social-img--space,.mobile-nav__title--small:visited .mobile-nav__social-img--space{
            margin-right: 15px;
        }

.mobile-nav--open{
        height: 100vh;
        background: #0707078f;
    }

.mobile-nav--open > .mobile-nav-logo img {
            width: 20%;
            margin:0 auto;
        }

.mobile-nav__sub{
        padding: 13px 0 0 9px;
    }

.mobile-nav__links{
        padding: 110px 5% 5% 10%;
        height: 100%;
        position: relative;
    }

.mobile-nav__list-item{
        display: flex;
        justify-content: flex-start;
        align-items:flex-start;
        border-bottom: 1px solid #FB5A1E;

        padding: 6px 0 18px 0;
        margin-bottom: 1.8%;
    }

.mobile-nav__list-item--header{
        border-bottom: 1px solid #FB5A1E;
        margin-bottom: 12px;
        padding: 6px 0 18px 0;
        margin-bottom: 1.8%;
        }

.mobile-nav__list-item--header-border {
                border-top: 1px solid #FB5A1E;
                margin-top: 10px;
            }

.mobile-nav__list-item--header:last-child{
            border-bottom: 1px solid transparent;
        }

.mobile-nav__list-item:last-child{
            border-bottom: 1px solid transparent;
        }

.mobile-nav__list-item-link:link, .mobile-nav__list-item-link:visited{
            text-decoration: none;
            color: rgba(255, 255, 255, .7);
            font-size: 1.2rem;
            display: block;
            padding-bottom: 9px;
        }

.mobile-nav__list-item--small{
            border-bottom: none;
            padding: 10px 0 8px 0;
            /* margin-left:30px; */
            


            
        }

.mobile-nav__list-item--adjusted .mobile-nav__title--small:link, .mobile-nav__list-item .mobile-nav__title--small:visited{
            margin-left: 30px;
        }

.mobile-nav__list-item--adjusted {
            /* margin-left: 50%;
            transform: translateX(-30%); */
        }

.mobile-nav__social-img{
        width: 20px;
    }

.mobile-nav__social-img.facebook {
            width: 9px;
        }

.mobile-nav__list-item-link:hover{
        color: #fff;
    }

.mobile-nav__link:link, 
    .mobile-nav__link:visited, 
    .mobile-nav__menu-bar:link, 
    .mobile-nav__menu-bar:visited{
        font-weight: 700;
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: #fff;
        font-size: 2.3rem;
        margin-bottom: 7.5%;
    }

.mobile-nav__link.active:link, .mobile-nav__link.active:visited{
        color: white;
    }

.mobile-nav__link__arrow-img{
        vertical-align: middle;
        width: 16px;
        display: none;
        margin-left: 8px;
    }

.mobile-nav__link__arrow-img.active{
            display: inline;
        }

.mobile-nav__list{
        position: static;
        width: 100%;
        z-index: 1;
        right: -20%;
        opacity: 0;
        top: 110px;
        z-index: -4;
    }

.mobile-nav__list.active{
        opacity: 1;
        z-index: 1;
        right: 10%;
    }

.mobile-nav .img-resp{
        transform: rotate(0deg);
        transition: all .3s;
        display: inline;
    }

.mobile-nav .img-resp.active{
        transform: rotate(90deg);
        transform-origin: center;
    }

.mobile-nav--flex {
        display: flex; 
        flex-wrap: wrap; 
        justify-content:space-between; 
        width: 85%;
        margin-left: 30px;
        /* &>.mobile-nav__list-item:nth-of-type(4){
            transform:translateX(25%)
        }  */
    
    }

.mobile-nav--flex>.mobile-nav__list-item:nth-of-type(even){
            width: 44%;
        }

.mobile-nav--flex .mobile-nav__title--small:link {
            margin-right:40px;
            margin-left: 0px;
            line-height:20px;
            white-space: nowrap;
        }

.mobile-nav--flex .mobile-nav__title--small:link.xmargin {
                margin-right: 25px;
            }

.mobile-nav--flex .mobile-nav__title--small:link::before {
                content: '';
                vertical-align: middle;
                margin-right: 15px;
                background-size: cover;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: red;
            }

.mobile-nav--flex .mobile-nav__title--small:visited {
            margin-left: 0px;
            margin-right: 40px;
        }

.mobile-nav--xspace {
        flex: 50%;
        line-height: 40px;
    }

.corouzel {
    display: flex;

}

.corouzel__container{
        width: 100%;
        position: relative;
    }

.corouzel .ir {
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
        /* padding: 0 25px; */
    }

.corouzel .swiper-slide{
        position: relative;
    }

.corouzel .swiper-slide-active {
        justify-content: flex-start;
    }

.corouzel .swiper-slide-next{
        justify-content: flex-start;
    }

.corouzel .swiper-slide-next img{
            margin-left: 40%;
            transform: translateX(-50%);
        }

.corouzel .swiper-slide-next~.swiper-slide{
       justify-content: flex-end
    }

.corouzel .swiper-slide-next+.swiper-slide img{
            margin-right: 50%;
            transform: translateX(50%);
        }

.corouzel .swiper-slide-next+.swiper-slide+.swiper-slide+.swiper-slide img{
           /* display: none; */
       }

.corouzel .swiper-slide-prev img{
            display: none;
        }

.nav-bar{
    height: 70px;
    width: 100%;
    z-index: 99;
    transition: all .3s ease-in-out;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-bar__link{
        display: none;
    }

.nav-bar--up{
        top: -70px;
    }

.nav-bar--down{
        top: 0px;
        /* background: rgb(51, 50, 50); */
        background: black;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    }

.nav-bar__container{
        height: 100%; 
        display: flex;
        justify-content: space-between;
        align-items: center;

    
    }

.nav-bar--port {
        background: red;
        height: 40px;
        width: 100%;
    }

.nav-bar__logo-link{
        text-decoration: none;
    }

.nav-bar__logo{
        width: 60%;
    }

.nav-bar__menu-icon{
        width: 40px;
        margin-left: 18px;
        cursor: pointer;
    }

.nav-bar__right-content-container{
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
    }

.nav-bar__menu-icon{
        background: transparent;
        height: 25px; 
        width: 30px;
        position: relative;
        cursor: pointer;
    }

.nav-bar__menu-icon--close .nav-bar__menu-icon__line{
            width: 0%;
        }

.nav-bar__menu-icon--close .nav-bar__menu-icon__line::after{
                width: 100%;
                transform: rotate(-45deg);
                top: 10px;
            }

.nav-bar__menu-icon--close .nav-bar__menu-icon__line::before{
                width: 100%;
                transform: rotate(45deg);
                top: 10px;
            }

.nav-bar__menu-icon__line{
            width: 100%;
            height: 2.7px;
            background: white;
            border-radius: 150px;
            margin-top: 9px;
            transition: all .5s;

            
        }

.nav-bar__menu-icon__line::before{
                content: "";
                width: 100%;
                height: 2.7px;
                display: block;
                border-radius: 150px;
                transform-origin: center;
                background: #fff;
                position: absolute;
                top: 0px;
                transition: all .5s;
            }

.nav-bar__menu-icon__line::after{
                content: "";
                width: 70%;
                height: 2.7px;
                display: block;
                border-radius: 150px;
                background: #fff;
                position: absolute;
                bottom: 4px;
                right: 0;
                transition: all .5s;
            }