.bio {

    background: #F6F5FF;
    &-container {
        display: flex;
        align-items:center;
    }
    &-info {
        padding: 100px 0px;
    }
    & h1 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 70px;
        line-height: 60px;
        /* or 90% */
        
        
        color: #303450;        
    }
    & p {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        /* or 133% */
        
        padding: 30px 0px 30px 0px;
        color: #303450;        
    }
    &-bg {
        
        position: relative;
        background: #F6F5FF;
        z-index: 17;
        /* clip-path: inset(10% 10% 10% 10% round 0% 0% 0% 30%); */

        & > div {
            width:100%;
            padding-bottom: 0px;
            padding-left: 20px;


        }

        & img {
            width: 100%;
            transform: translateY(70px);
        }
       

          
    }
    &-rectangle {
        width: 100%;
        position: absolute;
        z-index: -1;
        bottom: -70px;
        height: 700px;
        /* background: white; */
        background: #FF3300;
        clip-path: inset(10% 10% 10% 10% round 0% 0% 0% 30%);
        transform: translateY(70px);

    }

}