.edu {
    background: #F6F5FF;
    &-container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &-story {
        width: 46%;
        padding:100px 20px 50px 0px;
        
    }
    &-img {
        width: 48%;
        position: relative;
        text-align: center;
        /* overflow: hidden; */

        
        &-story {
            width: 40%;
        }

        & img {
            width: 100%;
            /* transform:translateY(80px) */
            
        }


        &-bg {
            position: absolute;
            bottom: 0;
            width: 95%;
            
        
            & img {
                width: 100%;
                /* transform:translateY(0px) */
            
            }
        }


    }
    &-wrapper {
        padding: 10px 0px;
    }
    &-tabs {
        padding-bottom:10px;  
        & a {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 40px;
        color: #303450;  
            
        }

        & ul {
            width: 80%;
            display: flex;
            justify-content: space-between;
        }
    }
    &-title {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        color: #212338;        
    }
    &-school {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 40px;
        color: #212338;        
    }
    &-course {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 40px;
        color: #212338;        
    }
    &-year {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 50px;
        color: #FF3300;
             
    }

}


@media only screen and (max-width:768px) {
    .edu-container {
        flex-direction: column;
    }
    .edu-img {
        margin: 0 auto;
    }
    .edu-img img {
        transform: translateY(0px);
    }
    .edu-story {
        margin: 0 auto;
        padding-top: 20px;
        width: 84%;
    }
    .edu-tabs a {
        font-size: 18px;
    }
}
@media only screen and (max-width:512px) {
    .edu-tabs a {
        font-size: 16px;
    }
    .edu-title {
        font-size: 22px;
    }
    .edu-course {
        line-height: 28px;
    }
    .edu-tabs ul {
        width: 90%;
    }
}
@media only screen and (max-width:425px) {
    .edu-story {
        width: 93%;
    }
    .edu-tabs ul {
        width: 100%;
    }
    .edu-school {
        font-size: 17px;
    }
}