.footer {
    background: #303450;


    &-container {
        padding: 100px 40px 20px;
        width: 80%;
        display: flex;
        align-items:center;
        justify-content:space-between;

        &>div {
            width: 30%;
        }
        
    }
    & h1 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        /* identical to box height, or 114% */
        
        
        color: #FFFFFF;        
    }
    & p {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        /* or 167% */
        padding-top:20px;
        
        color: #FFFFFF;

        
        
    }
    &-socials {
        background:red;
        
    }
    ul {
        display: flex;
        /* align-items: flex-end; */
        justify-content: space-between;
    }
    & img {
        width: 60%;
    }
    &-trademark {
        text-align: center;
        padding: 10px 0px;
    }
}
